# Terraform (Matches root AND subdirectories)

**/.terraform/
**/*.tfstate
**/*.tfstate.*
*.tfstate
*.tfstate.*
crash.log

# Terraform Variable & Override Files
**/*.tfvars
**/*.tfvars.json
**/override.tf
**/override.tf.json
**/*_override.tf
**/*_override.tf.json

# CLI Configuration
.terraformrc
terraform.rc


# IDEs & Editors

.idea/
.vscode/
*.swp
*.swo


# Python & Environment

__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/
.pytest_cache/